{% extends 'base.html.twig' %}

{% block title %}Movie List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4">Movie List</h1>
                <p class="lead">Here are the movies added to the database:</p>
                <div class="d-flex justify-content-end gap-3">
                <a href="{{ path('add_movie') }}" class="btn btn-primary mt-3 mb-3">Add a New Movie</a>
                <a href="{{ path('omdb_search') }}" class="btn btn-secondary mt-3 mb-3">Search for a Movie</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                            <tr>
                                <td>{{ movie.year }}</td>
                                <td class="w-50">{{ movie.title }}</td>
                                <td class="w-25">{{ movie.type }}</td>
                                <td >
                                    <a href="{{ path('movie_detail', {id: movie.id}) }}" class="btn btn-info btn-sm">View Details</a>
                                    <a href="{{ path('edit_movie', {id: movie.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">No movies found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}