{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% if app.session.flashBag.has('success') %}
            {% for message in app.session.flashBag.get('success') %}
                <twig:alert type="success" message="{{ message }}" />
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">{{ movie.title }} movie Details</h1>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Year:</strong> {{ movie.year }}</li>
                    <li class="list-group-item"><strong>Type:</strong> {{ movie.type }}</li>
                    <li class="list-group-item"><strong>Abstract:</strong> {{ movie.abstract }}</li>
                </ul>
                <a href="{{ path('homepage') }}" class="btn btn-secondary mt-3">Back to list</a>
            </div>
        </div>
    </div>
{% endblock %}