{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="mb-4">{{ movie.title }} movie Details</h1>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Year:</strong> {{ movie.year }}</li>
                    <li class="list-group-item"><strong>Type:</strong> {{ movie.type }}</li>
                    <li class="list-group-item"><strong>Abstract:</strong> {{ movie.abstract }}</li>
                </ul>
                <div class="d-flex justify-content-between">
                <button class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>
                {% include 'components/confirm_delete_modal.html.twig' with {
                    path: path('delete_movie', {'id': movie.id}),
                    message: 'Are you sure you want to delete this movie?',
                    csrf_token: csrf_token('delete' ~ movie.id)
                } %}
                <a href="{{ path('homepage') }}" class="btn btn-secondary mt-3">Back to list</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}